<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/code/BetterBayesFeatureHashing.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="BetterBayesFeatureHashing"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="../dataSubset/index_small ../stop-word-list_stanford.txt 20 0.5 small 100 2 -writeOutAllPredictions"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="code"/>
</launchConfiguration>
